


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif !important;
}

/* App.css - добавьте эти стили */

.App {
  position: relative;
  width: 100%;
}

/* Убедитесь, что все секции имеют позицию relative */
.App > * {
  position: relative;
  /* z-index: auto; */
}

/* Отладка - можно временно включить */
.debug-border {
  border: 1px solid red !important;
}