

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 100;
    src: url("../../public/fonts/HelveticaNeue-Thin.woff") format("opentype");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 300;
    src: url("../../public/fonts/HelveticaNeue-Light.woff") format("opentype");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 400;
    src: url("../../public/fonts/HelveticaNeue-Roman.woff") format("opentype");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 500;
    src: url("../../public/fonts/HelveticaNeue-Medium.woff") format("opentype");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 700;
    src: url("../../public/fonts/HelveticaNeue-Bold.woff") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif !important;
}

/* App.css - добавьте эти стили */

.App {
  position: relative;
  width: 100%;
}

/* Убедитесь, что все секции имеют позицию relative */
.App > * {
  position: relative;
  /* z-index: auto; */
}

/* Отладка - можно временно включить */
.debug-border {
  border: 1px solid red !important;
}