
@font-face {
    font-family: "Helvetica Neue";
    font-weight: 500 !important;
    src: url("../../public/fonts/HelveticaNeue-Medium.otf") format("opentype");
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif !important;
}

/* App.css - добавьте эти стили */

.App {
  position: relative;
  width: 100%;
  overflow-x: hidden; /* Только горизонтальное скрытие */
}

/* Убедитесь, что все секции имеют позицию relative */
.App > * {
  position: relative;
  z-index: auto;
}

/* Отладка - можно временно включить */
.debug-border {
  border: 1px solid red !important;
}